<footer class="footer">
		<div class="container">
				<div class="footer-box">
					<div class="row">
						<div class="col-sm-3">
							<h3><a href="{{site.url}}/{{site.baseurl}}" class="navigate">
								<img src="{{ "/images/logo.svg" | prepend: site.baseurl | prepend: site.url }}" width="85"/></a></h3>
						</div>
						<div class="col-sm-5">
							<div class="row">
								<div class="col-sm-6">
									<!--h4>Tracks</h4>
									<a href="https://2019.icse-conferences.org/track/icse-2019-Technical-Papers"
										class="navigate">Technical Papers</a-->
								</div>
								<div class="col-sm-6">
									
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							
						</div>
						<div class="col-sm-2">
							
							
						</div>
					</div>
				</div>
			</div>
</footer>