<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="panel-title">Upcoming Important Dates</div>
    </div>
    <table class="table table-hover important-dates-in-sidebar">
        <tbody>
            <tr class="clickable-row past">
                <td>February 1, 2019 <span title="" data-original-title="Timezone: AoE (UTC-12h)"><small><span
                                class="glyphicon glyphicon-time"></span></small></span><br />
                                <em>Workshop paper abstract submissions due</em> </td>
            </tr>
            <tr class="clickable-row past">
                <td>February 6, 2019 <span title="" data-original-title="Timezone: AoE (UTC-12h)"><small><span
                                class="glyphicon glyphicon-time"></span></small></span><br />
                                <em>Workshop paper submissions due</em> </td>
            </tr>
            <tr class="clickable-row text-success">
                <td>March 1, 2019 <span title="" data-original-title="Timezone: AoE (UTC-12h)"><small><span
                                class="glyphicon glyphicon-time"></span></small></span><br />
                                <em>Notification to authors</em> </td>
            </tr>
            <tr class="clickable-row text-success">
                <td>March 15, 2019 <span title="" data-original-title="Timezone: AoE (UTC-12h)"><small><span
                                class="glyphicon glyphicon-time"></span></small></span><br />
                                <em>Camera-ready copies due</em> </td>
            </tr>
            <tr class="clickable-row text-success">
                <td>May 28, 2019 <span title="" data-original-title="Timezone: AoE (UTC-12h)"><small><span
                                class="glyphicon glyphicon-time"></span></small></span><br />
                                <em>Workshop</em> </td>
            </tr>
            <!--tr href="https://2019.icse-conferences.org/track/icse-2019-Workshops" class="clickable-row past">
                <td>Fri 16 Nov 2018 <span title="" data-original-title="Timezone: AoE (UTC-12h)"><small><span
                                class="glyphicon glyphicon-time"></span></small></span><br><em>Workshops</em>
                    Notification to proposers</td>
            </tr>
            <tr href="https://2019.icse-conferences.org/dates" class="clickable-row">
                <td colspan="42" class="btn-primary">
                    <center> All important dates</center>
                </td>
            </tr-->
        </tbody>
    </table>
</div>
<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <div class="panel-title">Twitter</div>
    </div>
    <a class="twitter-timeline" data-height="600" href="https://twitter.com/iwor2019?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
