<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<div class="frame">

			{% include header.html %}

			<div class="container margin-top margin-bottom">
				<div class="row">
					<div class="col-md-9">
						{{ content }}
					</div>
					<div class="col-md-3 sidebar" id="sidebar">
						{% include sidebar.html %}
					</div>
				</div>
			</div>

			{% include footer.html %}
		
		</div>

		<script type="text/javascript" src="{{ site.data.global.url }}/scripts/icse-jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.data.global.url }}/scripts/icse-bootstrap.min.js"></script>

		<script>
			//$(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); });
		</script>

		<script type="text/javascript">
			(function ($) {
				$(document).ready(function () {

					$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
						event.preventDefault();
						event.stopPropagation();
						$(this).parent().siblings().removeClass('open');
						$(this).parent().toggleClass('open');
					});

					$(document).ready(function () {
						$('.carousel').carousel({
							interval: 10000
						})
					});
									
				});
			})(jQuery);
		</script>

	</body>

</html>

